---
import Card from "../components/Card.astro";
import WhiteSubLayout from "../layouts/WhiteSubLayout.astro";
---
<WhiteSubLayout title="About Kwiveti" sectionId="about">
    <div class="content">
        <h3>Kwiveti provides secure, fast and transparent escrow services that protects both the buyer and the seller in a transaction from the uncertainty of the other party fulfilling their obligations.</h3>
        <div class="detailcards">
            <Card 
              title="Secure"
              body="We protect the interest of all parties. We recieve payment from the payer and release it to the receiver when both parties are satisfied"
              imgUrl="/assets/secure.png"
            />
            <Card 
              title="Transparency"
              body="No hidden charges, no hidden Conditions"
              imgUrl="/assets/transparent.png"
            />
            <Card 
              title="Speed"
              body="You get your money as soon as the transaction is completed"
              imgUrl="/assets/speed.png"
            />
            <Card 
              title="Simplicity"
              body="No need for complicated processes, simply register and create or accept a transaction"
              imgUrl="/assets/simplicity.png"
            />
        </div>
    </div>
</WhiteSubLayout>
<style>
    h3 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 28px;
    }
    @media screen and (min-width: 599px) {
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 36px;
        }
        .content > h3{
            text-align: start;
            width: 40%;
            max-width: 400px;
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 0;
        }
        .detailcards {
            /* border: 2px solid red; */
            width: 50%;
            max-width: 500px;
        }
    }
</style>
