<section class="form-section" id="waitlist">
    <h1>Join The Waitlist</h1>
    <form id="form">
        <label for="name">Name</label>
        <input type="text" name="" id="name" placeholder="Fullname" autocomplete="on" required>
        <label for="email">Email Address</label>
        <input type="email" name="" id="email" placeholder="email address" autocomplete="on" required>

        <div class="group radio">
            <p>Have you used an escrow service before:</p>
            <input type="radio" id="yes" name="haveUsedEscrow" value="yes" required>
            <label for="yes">Yes, I have</label> <br/>
            <input type="radio" id="no" name="haveUsedEscrow" value="no">
            <label for="no">No, I haven't</label> <br/>
        </div>

        <div class="group radio">
            <p>Have you used an escrow service before:</p>
            <input type="radio" id="local" name="targetCurrency" value="local"  required>
            <label for="local">Local Currency Only</label>  <br/>
            <input type="radio" id="Intl" name="targetCurrency" value="Intl">
            <label for="Intl">International Currencies Only</label>  <br/>
            <input type="radio" id="both" name="targetCurrency" value="both">
            <label for="both">Both local & International Currencies</label>  <br/>
        </div>

        <div class="group">
            <input type="checkbox" id="agree" name="agree" value="agree" required>
            <label for="agree"> I agree that you can send product updates and other necessary information</label>
        </div>

        <button type="submit"  id="submit-button">
            <p id="submit-text">Submit</p>
            <div class="lds-ripple" id="submit-loader"><div></div><div></div></div>
        </button>

    </form>
    <div id="form-submitted">
        <h3>Thank's for your contribution we would keep in touch</h3>
    </div>
</section>

<script>
    const form = document.getElementById('form')

    form?.addEventListener('submit', async (event) => {
      event.preventDefault()
      const formInputs: any = event.target;

      const submitButton: any = document.getElementById('submit-button')
      const submitText: any = document.getElementById('submit-text')
      const submitLoader: any = document.getElementById('submit-loader')
      const body = {
        name: formInputs?.name?.value,
        email: formInputs?.email?.value,
        haveUsedEscrow: formInputs?.haveUsedEscrow?.value,
        targetCurrency: formInputs?.targetCurrency?.value,
      }

      try {
        submitButton.disabled = true
        submitText.style.display = "none"
        submitLoader.style.display = "inline-block"
        const res = await fetch('https://wxo7u56rk3tygy3nr3iej2rmhy0myuun.lambda-url.us-east-1.on.aws/submit', {
            method: 'POST',
            mode: 'no-cors',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(body),
        })

        console.log('success')
        const form: any = document.getElementById('form')
        const formSubmitted: any = document.getElementById('form-submitted')
        
        form.style.display = "none"
        formSubmitted.style.display = "block"
      } catch (error) {
        console.log(error)
      } finally {
        submitText.style.display = "inline-block"
        submitLoader.style.display = "none"
      }
    })
</script>

<style>
	.form-section {
		background-image: linear-gradient(#EECDA3, #EF629F);
        width: 100vw;
        max-width: 100vw;
        min-height: max-content;
        padding: 80px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
	}
    h1 {
        margin-bottom: 60px;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    form > label {
        color: black;
        margin-bottom: 18px;
        font-weight: 700;
    }
    input[type=text], input[type=email], button{
        height: 60px;
        width: 100%;
        margin-bottom: 40px;
        border-radius: 40px;
        border: none;
        padding: 0 16px;
        font-size: 16px;
    }
    button {
        background-color: #EECDA3;
        cursor: pointer;
    }
    input[type=radio] {
        cursor: pointer;
        height: 20px;
        width:  20px;
        margin-bottom: 12px;
    }

    .radio > label {
        /* color: red; */
        cursor: pointer;
        position: relative;
        top: -4px;
        margin-left: 6px;
    }
    .group {
        margin-bottom: 40px;
    }

    .group > p {
        color: black;
        margin-bottom: 18px;
        font-weight: 700;
    }

    #form-submitted {
        display: none;
    }
    @media screen and (min-width: 599px) {
        .form-section {
          justify-content: center;
        }
        form {
          width: 80%;
          max-width: 1000px;
        }
    }

    .lds-ripple {
    /* display: inline-block; */
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    }
    .lds-ripple div {
    position: absolute;
    border: 4px solid #000000;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
    0% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 36px;
        height: 36px;
        opacity: 0;
    }
    }
</style>