---
export interface Props {
	title: string;
  sectionId: string;
}

const {title, sectionId} = Astro.props;
---
<section class="subLayout" id={sectionId}>
    <h1>{title}</h1>
    <div class="subLayout-content">
      <slot />
    </div>
</section>
<style>
	.subLayout {
        background-color: #ECF2F6;
        width: 100vw;
        max-width: 100vw;
        min-height: max-content;
        padding: 60px 20px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
	}
  h1 {
      color: #EF629F;
      margin-bottom: 36px;
  }
    @media screen and (min-width: 599px) {
        .subLayout {
          justify-content: center;
          padding: 80px 20px;
          align-items: center;
        }
        .subLayout-content {
            width: 80%;
            max-width: 1000px;
        }
    }
</style>
